.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 87px 307px 60px 416px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 207px;
    margin-left: 316px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 97px;
    margin-left: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 7px;
    margin-left: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}