

.u-section-1 {
  height: 95%;
  border: 3px solid orange;
  display: flex;
}

.u-btn-1 {
  background-color: black;
  font-weight: 700;
  border-radius: 20px !important;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 16px auto 0 0;
}

.u-btn-1:hover{
  color: #ffffff !important;
  background-color: #808080 !important;
}

.u-list-1 {
  width: 100px;
  margin: -45px auto 10px 150px;  
}

.u-container-layout-1 {
  padding: 10px;
}

.header2 {
  border: 5px solid red;
  width: 265px;
}

@media only screen and (min-height: 0) and (max-height: 740px) {
  .wrapped{
    height: 90%;
  }
  #content{
    height: 300px;
  }
}

@media only screen and (min-height: 740) and (max-height: 1308px) {
  .wrapped{
    height: 100%;
  }
  #content{
    height: 300px;
  }
}


@media only screen and (min-width: 0px) and (max-width: 1250px) { 
  .wrapped{
    width: 70vw;
  } 
  .others {
    width: 400px
  }
  .chat {
    width: 80%;
    margin-left: 5px;
  }
  .self {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 3500px) { 
  .wrapped{
    width: 90%;
  } 
  .others {
    width: 600px;
  }
  .chat {
    width: 70%;
    margin-left: 10px;
  }
  .self {
    margin-right: 10px;
  }
}

:root {
  --wrapped-width: 980px;
  --wrapped-height: 650px;
  --test-suite-width: 500px;
}

.wrapped{
  padding: 10px;
  border: 3px solid black;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.others {
  padding: 5px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  min-width: 10px; 
}

.window {
  padding: 5px;
  border: 2px solid black; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.self{
  padding: 5px;
  border: 3px solid black;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat {
  display:flex;
  background-color: var(--bg-dark);
  color: #fff;
  font-weight: 400;
  text-shadow: rgb(77, 81, 86) 0px 0px 0px;
}

.selfStatus {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

#profile {
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  float: center;
  margin: 10px auto;
}

.controls {
  height: 60%;
  border: 3px solid black;
}

#content {
  flex: 7 200%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 3px solid orange;
  overflow-y: scroll;
  height: 500px;
}


/*
#messages::-webkit-scrollbar {
  display: none; 
}*/

.textbox {
  border: 3px solid black;
}

.indicator {
  text-align: center;
  visibility: hidden;
}

.playerStatus {
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 50%;
  position: relative;

}

.role {
  padding: 3px;
  border-radius: 50%;
  position: absolute
}

.testsuite {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  width: 150px
}

.showicons{
  flex-direction: row;
}

.dimensions {
  flex-direction: row;
}

.overlay {
  position: relative;
  padding: 3px;
  animation: blinkimage 1.5s infinite;
}

.deceased {
  position: relative;
  padding: 3px;
  animation: blinkimage 5s infinite;

}
#speaking {
  background: green;
  animation: blinkgreen 1.4s infinite;
}

#muted {
  background: red;
  animation: blinkred 1.4s infinite;
}

#dead {
  background: black;
}

@keyframes blinkimage {
  0%   {opacity: 1}
  50%  {opacity: 0}
  100% {opacity: 1}
}

@keyframes blinkred{
  0%		{ background-color: red}
  50%		{ background-color: #e5e5e5}
  100%  { background-color: red}
}

@keyframes blinkgreen{
  0%		{ background-color: green}
  50%		{ background-color: #e5e5e5}
  100%  { background-color: green}
}

form {
  display: flex;
  border-top: 2px solid #242424;
}

form * {
  height: 40px;
  background: #d7d7d7;
  color: var(--bg-dark);
}



