 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 122px;
  margin: -42px auto 0 139px;
}

.u-section-1 .u-repeater-1 {
  min-height: 42px;
  grid-template-columns: 100%;
  grid-gap: 47px 47px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-list-2 {
  width: 85px;
  margin: 90px auto 0 139px;
}

.u-section-1 .u-repeater-2 {
  min-height: 546px;
  grid-template-columns: 100%;
  grid-gap: 20px 20px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 9px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -6px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 9px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -6px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 9px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -6px auto 0;
}

.u-section-1 .u-list-3 {
  width: 420px;
  margin: -560px auto 0;
}

.u-section-1 .u-repeater-3 {
  min-height: 500px;
  grid-template-columns: 100%;
  grid-gap: 47px 47px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-list-4 {
  width: 85px;
  margin: -486px 139px 0 auto;
}

.u-section-1 .u-repeater-4 {
  min-height: 546px;
  grid-template-columns: 100%;
  grid-gap: 20px 20px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 9px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin: -6px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 9px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-text-9 {
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  margin: -6px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 9px;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-text-11 {
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  margin: -6px auto 0;
}

.u-section-1 .u-list-5 {
  width: 692px;
  margin: 0 auto 54px;
}

.u-section-1 .u-repeater-5 {
  min-height: 52px;
  grid-template-columns: 100%;
  grid-gap: 47px 47px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

@media (max-width: 767px) {
  .u-section-1 .u-list-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-3 {
    width: 340px;
  }

  .u-section-1 .u-list-5 {
    width: 340px;
  }
}